<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/dashboard']" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Text input</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Number input</ion-label>
      <ion-input type="number" placeholder="000"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Password input</ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Email input</ion-label>
      <ion-input type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Telephone input</ion-label>
      <ion-input type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
