<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/dashboard']" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Cédula</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombres</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellidos</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono celular</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellidos y nombres del padre</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellidos y nombres de la madre</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
        <ion-grid>
          <ion-row>
            <ion-label position="fixed">
              <ion-text color="primary">
                <p>Latitud</p>
              </ion-text>
              <p>{{latitude}}</p>
            </ion-label>
            <ion-label position="fixed">
              <ion-text color="primary">
                <p>Longitud</p>
              </ion-text>
              <p>{{longitude}}</p>
            </ion-label>
          </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Usuario que registra</ion-label>
      <ion-input disabled="true">{{user}}</ion-input>
    </ion-item>

    <div class="btn-photo label">
      <ion-label position="stacked">Foto de la casa</ion-label>
    </div>

    <div class="btn-photo img">
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </div>

    <div class="btn-photo img">
      <ion-button color="danger" [routerLink]="['/dashboard']">
        Terminar formulario
      </ion-button>
    </div>
  </ion-list>
</ion-content>
