<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button [routerLink]="['/form']" expand="block">Formulario</ion-button>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block" color="danger">Cerrar sesión</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-img src="https://www.ecuadorencifras.gob.ec/estadisticas/images/logo%20censo%20ecuador-01.png?crc=251941702" alt="Logo Censo Ecuador 2022"></ion-img>
      </ion-row>
      <ion-row>
        <ion-img src="https://www.metroecuador.com.ec/resizer/JJ48awzffsKJX9jfaD_XVEcdSkw=/arc-photo-metroworldnews/arc2-prod/public/3BM337KMRZGHDPQ7QRWV67RPYI.png" alt="Logo Censo Ecuador 2022"></ion-img>
      </ion-row>
      <ion-row class="top">
        <ion-img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/300167872_1246567582849797_5008916364483176403_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHCFNdo9ELfNa53qW-qP9KPUtVKKmoUJdBS1UoqahQl0IQK_jGl8GT14AjCl07ejoj_4ml4xQZ70qa4GGEr-S49&_nc_ohc=tEIMoEwGCkEAX9dpvJN&_nc_ht=scontent.fuio1-2.fna&oh=00_AfB6Mcr8nFodhmkLcGyfQg5j6pvGAcm39KyatHRuJFUEuw&oe=639ADF88" alt="Logo Censo Ecuador 2022"></ion-img>
      </ion-row>
    </ion-content>
  </div>